![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [58]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

# Start coding here...
# Add as many cells as you like...

                                         school_name  ... percent_tested
0  New Explorations into Science, Technology and ...  ...            NaN
1                               Essex Street Academy  ...           78.9
2                       Lower Manhattan Arts Academy  ...           65.1
3    High School for Dual Language and Asian Studies  ...           95.9
4      Henry Street School for International Studies  ...           59.7

[5 rows x 7 columns]

## Which NYC schools have the best math results?
The best math results are at least 80% of the *maximum possible score of 800* for math.
Save your results in a pandas DataFrame called best_math_schools, including "school_name" and "average_math" columns, sorted by "average_math" in descending order.

In [59]:
print(schools.info())
print(schools.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   school_name      375 non-null    object
 1   borough          375 non-null    object
 2   building_code    375 non-null    object
 3   average_math     375 non-null    int64
 4   average_reading  375 non-null    int64
 5   average_writing  375 non-null    int64
 6   percent_tested   355 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 20.6+ KB
None
       average_math  average_reading  average_writing  percent_tested
count    375.000000       375.000000       375.000000      355.000000
mean     432.944000       424.504000       418.458667       64.976338
std       71.952373        61.881069        64.548599       18.747634
min      317.000000       302.000000       284.000000       18.500000
25%      386.000000       386.000000       382.000000       50.950000
50%      415.000000       413.000000       403.000000       64.800000
75%      458.500000       445.000000       437.500000       79.600000
max      754.000000       697.000000       693.000000      100.000000

In [60]:
# calculate at least 80% of the *maximum possible score of 800* for math
score = 800 * 0.8

# filter for score
param = schools['average_math'] >= score

best_math_schools = schools[param][['school_name', 'average_math']].sort_values('average_math', ascending=False)
print(best_math_schools.head())

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683

## What are the top 10 performing schools based on the combined SAT scores
Save your results as a pandas DataFrame called top_10_schools containing the "school_name" and a new column named "total_SAT", with results ordered by "total_SAT" in descending order ("total_SAT" being the sum of math, reading, and writing scores).

In [61]:
# calculate 'total_SAT'
schools['total_SAT'] = schools['average_math'] + schools['average_reading'] + schools['average_writing']

# find the top 10 schools
top_10_schools = schools[['school_name','total_SAT']].sort_values(by='total_SAT', ascending=False).head(10)
print(top_10_schools)

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

## Which single borough has the largest standard deviation in the combined SAT score?
Save your results as a pandas DataFrame called largest_std_dev.

The DataFrame should contain one row, with:
- "borough" - the name of the NYC borough with the largest standard deviation of "total_SAT".
- "num_schools" - the number of schools in the borough.
- "average_SAT" - the mean of "total_SAT".
- "std_SAT" - the standard deviation of "total_SAT".

Round all numeric values to two decimal places.

In [62]:
#calculate stats
borough_stats = schools.groupby('borough')['total_SAT'].agg(
    num_schools='count',
    average_SAT='mean',
    std_SAT='std'
).reset_index()

#round results
borough_stats['average_SAT'] = borough_stats['average_SAT'].round(2)
borough_stats['std_SAT'] = borough_stats['std_SAT'].round(2)

#sort dataset and choose single borough with the largest standard deviation in the combined SAT score
largest_std_dev = borough_stats.sort_values(by='std_SAT', ascending=False).head(1)
print(largest_std_dev)

     borough  num_schools  average_SAT  std_SAT
2  Manhattan           89      1340.13   230.29